body {
  background-color: black; 
}

h1 {
  color: red; 
}

h2 {
  color: red;
}

li {
  color: red;
}

#Title {
  text-align: center;
}

#subtitle{
  text-align: center; 
}

#annoucment{
  text-align: center;
}
