body {
  background-color: black; 
}

h1 {
  color: red; 
}

h2 {
  color: red;
}

li {
  color: black;
  background-color: red;
  text-align: center;
}

#Title {
  text-align: center;
}

#subtitle{
  text-align: center; 
}

.annoucment{
 color: black;
  background-color: red;
  text-align: center;
}

#Brain{
  
}
#brain-info{
  
}

#Snail{
}
#snail-info{
}

#Dog{
}
#dog-info{
}

#bookshop{
}
#bookshop-info{
}
